body, html {
  height: 100%;
  font-family: Arial, Arial, Helvetica, sans-serif;
  margin: 0;
}

.title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  font-size: 40pt;
  transform: translate(-50%, -50%);
  color: white;
}

.heading {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("columbia.jpeg");
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 105%;
  position: relative;
}

#navbar {
  overflow: hidden;
  background-color: #333;
  opacity: 60%;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 35px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
} 
.map {
    position: absolute;
    right: 20px;
    top: 525px;
  }

  .code.content {
    position: relative;
    left: 15px;
  }

  .accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796";
  }

h2.lotInfo {
  font-size: 24pt;
  left: 15px;
  position: relative;
}

#lotList {
  font-size: 16pt;
  position: relative;
  left: 20px;
}

#about {
  position: relative;
  left: 15px;
}

#about h2 {
  font-size: 30pt;
}

#about h3 {
  font-size: 20pt;
}

#about h4 {
  font-size: 15pt;
}

#about p {
  font-size: 13pt;
}